*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
overflow-x:hidden;
}

/* LOGIN */

#loginPage{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url("https://assets.nflxext.com/ffe/siteui/vlv3/bg.jpg");
background-size:cover;
}

.login-box{
background:rgba(0,0,0,.8);
padding:50px;
width:380px;
border-radius:8px;
}

.login-box h1{
margin-bottom:30px;
}

.login-box input{
width:100%;
padding:14px;
margin:12px 0;
border:none;
background:#333;
color:white;
border-radius:5px;
}

.login-box button{
width:100%;
padding:14px;
background:#e50914;
border:none;
margin-top:20px;
color:white;
font-weight:bold;
cursor:pointer;
}

.demo{
margin-top:20px;
color:gray;
}

/* APP */
#app{
display:none;
}

/* NAVBAR */

nav{
position:fixed;
top:0;
width:100%;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.85);
z-index:1000;
}

.logo{
font-size:2rem;
font-weight:bold;
color:#e50914;
}

.nav-right{
display:flex;
align-items:center;
gap:15px;
}

#searchBar{
padding:10px 15px;
border:none;
border-radius:25px;
width:220px;
}

.profile{
width:42px;
border-radius:5px;
}

.logout-btn{
padding:10px 20px;
background:#e50914;
border:none;
color:white;
cursor:pointer;
border-radius:4px;
}

/* BANNER */

.banner{
height:100vh;
display:flex;
align-items:center;
padding-left:60px;
background:
linear-gradient(to top,#111,transparent),
url("https://wallpaperaccess.com/full/2703652.png");
background-size:cover;
}

.banner-content{
max-width:600px;
}

.banner h1{
font-size:4rem;
margin-bottom:20px;
}

.banner p{
line-height:1.7;
margin-bottom:30px;
}

.btn{
padding:13px 28px;
border:none;
margin-right:10px;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

.play{
background:white;
}

.info{
background:gray;
color:white;
}


/* MOVIES */

.section{
padding:40px;
}

.section h2{
margin-bottom:20px;
}

.movies{
display:flex;
gap:20px;
overflow-x:auto;
padding-bottom:15px;
}

.movies::-webkit-scrollbar{
display:none;
}

.card{
min-width:250px;
transition:.3s;
cursor:pointer;
}

.card img{
width:100%;
border-radius:8px;
height:350px;
object-fit:cover;
}

.card h3{
margin-top:10px;
}

.card:hover{
transform:scale(1.08);
}

/* MODAL */

.modal{
display:none;
position:fixed;
top:0;
left:0;
height:100%;
width:100%;
background:rgba(0,0,0,.85);
justify-content:center;
align-items:center;
z-index:9999;
}

.modal-content{
width:80%;
max-width:900px;
position:relative;
}

.close{
position:absolute;
right:0;
top:-45px;
font-size:40px;
cursor:pointer;
}

footer{
text-align:center;
padding:40px;
color:gray;
}

/* Responsive */

@media(max-width:768px){

.banner h1{
font-size:2.4rem;
}

#searchBar{
width:150px;
}

.card{
min-width:200px;
}

nav{
padding:15px;
}

}
